<footer>
    <img src="/images/logo.png" alt="logo" />
    <p>
      &copy; 2024 Quizerzz. Inspiration from
      <a
        href="https://in.pinterest.com/search/pins/?rs=ac&len=2&q=login%20page%20design&eq=login&etslf=4612"
        target="_blank"
        >Pinterest</a
      >
      | Made by Rajat Gupta
  </p>
      <a href="mailto:rajatgupta0607@gmail.com" target="_blank">
        <i class="fas fa-envelope hover"></i>
      </a>
      <a href="https://github.com/NightShift0607" target="_blank">
        <i class="fab fa-github hover"></i>
      </a>
      <a
        href="https://www.linkedin.com/in/rajat-gupta-716a5b28b/"
        target="_blank"
      >
        <i class="fab fa-linkedin hover"></i>
      </a>
    </p>
  </footer>

  <script src="JS/script.js"></script>
</body>
</html>