<%- include('partials/header.ejs') %>

<div class="container" id="container">
  <div class="form-container sign-up">
    <form method="post" action="/signup">
      <h1>Create Account</h1>
      <span>by using your email for registeration</span>
      <input type="text" placeholder="Name" name="name" required />
      <input type="email" placeholder="Email" name="email" required />
      <input type="password" placeholder="Password" name="password" required />
      <select name="sec_ques" required>
        <option value="" disabled selected hidden>
          Please Select a Security Question?
        </option>
        <option value="Mother Name">What is your Mother's Name</option>
        <option value="Pet Name">What is your First Pet's Name</option>
        <option value="Birth City">
          What is the name of city where you Born
        </option>
      </select>
      <input
        type="text"
        placeholder="Security Answer"
        name="sec_ans"
        required
      />
      <button type="submit">Sign Up</button>
    </form>
  </div>
  <div class="form-container sign-in">
    <form method="post" action="/login">
      <h1>Login</h1>
      <span>by using your email password</span>
      <input type="email" placeholder="Email" name="email" required />
      <input type="password" placeholder="Password" name="password" required />
      <a href="/forgot">Forget Your Password?</a>
      <button type="submit">Login</button>
    </form>
  </div>
  <div class="toggle-container">
    <div class="toggle">
      <div class="toggle-panel toggle-left">
        <h1>Welcome Back!</h1>
        <p>Enter your personal details to start attempting quiz</p>
        <button class="hidden" id="login">Login</button>
      </div>
      <div class="toggle-panel toggle-right">
        <h1>Hello, Quizerz!</h1>
        <p>Register with your personal details to start attempting quiz</p>
        <button class="hidden" id="register">Sign Up</button>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer.ejs') %>
